<footer id="footer-nav" class="site-footer">
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-md-push-9">
				<div id="footer-socials">
					<div class="socials inline-inside socials-colored">
						<a href="https://www.facebook.com/vimibaerli/" target="_blank" title="facebook" class="socials-item"><i class="socials-item-icon facebook"></i></a>
						<a href="https://www.instagram.com/vimibaerlis/" target="_blank" title="instagram" class="socials-item"><i class="socials-item-icon instagram"></i></a>
						<a href="mailto:vimi@vimidesign.com?subject=Bestellung" title="vimi@vimidesign.com" class="socials-item">vimi@vimidesign.com</a>
					</div>
				</div><!-- #footer-socials -->
			</div>

			<div class="col-md-6">
				<nav id="footer-navigation" class="site-navigation footer-navigation centered-box" role="navigation">
					<ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
						<li id="menu-item-24934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24934"><a href="/uber-uns/kontakt">Kontakt</a></li>
						<li id="menu-item-26967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26967"><a href="#">Datenschutz</a></li>
						<li id="menu-item-26965" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26965"><a href="#">Impressum</a></li>
					</ul>
				</nav>
			</div>

			<div class="col-md-3 col-md-pull-9">
			</div>

		</div>
	</div>
</footer><!-- #footer-nav -->
