{% assign first7charactes = page.url | slice: 0, 8 %}
{{page.url}}
<div id="site-header-wrapper" class=" " style="height: 98px;">
	<header id="site-header" class="site-header animated-header mobile-menu-layout-default shrink fixed" role="banner">
		<div class="container container-fullwidth">
			<div class="header-main logo-position-left header-layout-fullwidth header-style-4">
				<div class="site-title">
					<div class="site-logo" style="width:248px;">
						<a href="/" rel="home">
							<span class="logo" style="min-width: 248px;"><img src="/assets/vimi-design-logo.jpg" alt="ViMi Design" style="width: 248px;" class="default"><img src="/assets/vimi-design-logo.jpg" alt="ViMi-Design" style="width: 248px; margin-left: -248px; display: inline;" class="small"></span>
						</a>
					</div>
				</div>
				<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
					<button class="menu-toggle dl-trigger">Primary Menu<span class="menu-line-1"></span><span class="menu-line-2"></span><span class="menu-line-3"></span></button>
					<ul id="primary-menu" class="nav-menu styled no-responsive dl-menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-parent megamenu-first-element{% if page.url == '/' %} menu-item-current{% endif %}"><a href="/">Start</a><span class="menu-item-parent-toggle"></span></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page megamenu-first-element current_page_parent current_page_ancestor{% if first7charactes == '/baerlis' %} menu-item-current{% endif %}"><a href="/baerlis">Bärlis</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children{% if first7charactes == '/vimi-de' %} menu-item-current{% endif %}"><a href="/vimi-design/">ViMi-Design</a><span class="menu-item-parent-toggle"></span>
							<ul class="sub-menu styled dl-submenu-disabled">
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/vimi-design/was-ist-vimi-design.html' %} menu-item-active{% endif %}"><a href="/vimi-design/was-ist-vimi-design">Was ist ViMi-Design</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/vimi-design/fuer-babies-kinder.html' %} menu-item-active{% endif %}"><a href="/vimi-design/fuer-babies-kinder">für Babies/Kinder</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/vimi-design/massanfertigungen.html' %} menu-item-active{% endif %}"><a href="/vimi-design/massanfertigungen">Maßanfertigungen</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/vimi-design/geschenkideen.html' %} menu-item-active{% endif %}"><a href="/vimi-design/geschenkideen">Geschenkideen</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/vimi-design/krabbeldecken.html' %} menu-item-active{% endif %}"><a href="/vimi-design/krabbeldecken">Krabbeldecken</a></li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children{% if first7charactes == '/uber-un' %} menu-item-current{% endif %}"><a href="/uber-uns/">Über uns</a><span class="menu-item-parent-toggle"></span>
							<ul class="sub-menu styled dl-submenu-disabled">
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/uber-uns/qualitaet.html' %} menu-item-active{% endif %}"><a href="/uber-uns/qualitaet">Qualität</a></li>
								<li class="menu-item menu-item-type-custom menu-item-object-custom megamenu-first-element{% if page.url == '/uber-uns/kontakt.html' %} menu-item-active{% endif %}"><a href="/uber-uns/kontakt">Kontakt</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header><!-- #site-header -->
</div><!-- #site-header-wrapper -->


