<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title | escape }} - {% else %}{% endif %}VimiDesign</title>
	{% if page.title %}<meta property="og:title" content="{{ page.title | escape }}" />{% endif %}
	<meta property="og:locale" content="de_AT">
	<meta property="og:type" content="object">
	<meta property="og:site_name" content="VimiDesign">

	<link rel="dns-prefetch" href="https://fonts.googleapis.com/">
	<link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
	<link rel="dns-prefetch" href="https://s.w.org/">
	<link rel="stylesheet" id="angelleye-express-checkout-css-css" href="/assets/angelleye-express-checkout.css" type="text/css" media="all">
	<link rel="stylesheet" id="tc-epo-css-css" href="/assets/epo.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-preloader-css" href="/assets/thegem-preloader.css" type="text/css" media="all">

	<link rel="stylesheet" id="thegem-reset-css" href="/assets/thegem-reset.css" type="text/css" media="all">
	<style id="thegem-reset-inline-css" type="text/css">
		.fullwidth-block {
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);
			-ms-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	</style>
	<link rel="stylesheet" id="thegem-grid-css" href="/assets/thegem-grid.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-style-css" href="/assets/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-child-style-css" href="/assets/style(1).css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-header-css" href="/assets/thegem-header.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-widgets-css" href="/assets/thegem-widgets.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-new-css-css" href="/assets/thegem-new-css.css" type="text/css" media="all">
	<link rel="stylesheet" id="perevazka-css-css-css" href="/assets/thegem-perevazka-css.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-google-fonts-css" href="/assets/css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-custom-css" href="/assets/custom-1bV5Acyp.css" type="text/css" media="all">
	<link rel="stylesheet" id="js_composer_front-css" href="/assets/js_composer.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-additional-blog-1-css" href="/assets/thegem-additional-blog-1.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-hovers-css" href="/assets/thegem-hovers.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-lazy-loading-animations-css" href="/assets/thegem-lazy-loading-animations.css" type="text/css" media="all">
	<link rel="stylesheet" id="jquery-fancybox-css" href="/assets/jquery.fancybox.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-vc_elements-css" href="/assets/thegem-vc_elements.css" type="text/css" media="all">
	<link rel="stylesheet" id="sb_instagram_styles-css" href="/assets/sb-instagram.min.css" type="text/css" media="all">
	<link rel="stylesheet" id="sb-font-awesome-css" href="/assets/font-awesome.min.css" type="text/css" media="all">
	<style id="woocommerce-inline-inline-css" type="text/css">
		.woocommerce form .form-row .required {
			visibility: visible;
		}
	</style>
	<link rel="stylesheet" id="thegem-woocommerce-css" href="/assets/thegem-woocommerce.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-woocommerce1-css" href="/assets/thegem-woocommerce1.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-woocommerce-temp-css" href="/assets/thegem-woocommerce-temp.css" type="text/css" media="all">
	<link rel="stylesheet" id="thegem-woocommerce-custom-css" href="/assets/thegem-woocommerce-custom.css" type="text/css" media="all">
	<link rel="stylesheet" id="cryout-serious-slider-style-css" href="/assets/style(2).css" type="text/css" media="all">
	<link rel="stylesheet" id="woocommerce-gzd-layout-css" href="/assets/woocommerce-gzd-layout.min.css" type="text/css" media="all">
	<script type="text/javascript">
		/* <![CDATA[ */
		var gemSettings = { "isTouch": "", "forcedLasyDisabled": "", "tabletPortrait": "1", "tabletLandscape": "", "topAreaMobileDisable": "", "parallaxDisabled": "", "fillTopArea": "", "themePath": "", "rootUrl": "", "mobileEffectsEnabled": "", "isRTL": "" };
/* ]]> */
	</script>
	<script type="text/javascript" src="/assets/thegem-settings-init.js"></script>
	<script type="text/javascript" src="/assets/jquery.js"></script>
	<script type="text/javascript" src="/assets/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="/assets/thegem-fullwidth-loader.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var IwNRCargs = { "rightclick": "Y", "draganddrop": "Y" };
/* ]]> */
	</script>
	<script type="text/javascript" src="/assets/no-right-click.js"></script>
	<script type="text/javascript" src="/assets/woocommerce-add-to-cart.js"></script>
	<script type="text/javascript" src="/assets/jquery.mobile.custom.min.js"></script>
	<script type="text/javascript" src="/assets/slider.js"></script>
	<link rel="https://api.w.org/" href="/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 4.9.10">
	<meta name="generator" content="WooCommerce 3.4.5">
	<!-- Instagram Feed CSS -->
	<style type="text/css">
		@media (max-width: 480px) {

			#sb_instagram.sbi_col_10 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_3 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_4 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_5 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_6 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_7 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_8 #sbi_images .sbi_item,
			#sb_instagram.sbi_col_9 #sbi_images .sbi_item {
				width: 25%;
			}
		}
	</style>

	<noscript>
		<style>
			.woocommerce-product-gallery {
				opacity: 1 !important;
			}
		</style>
	</noscript>
	<link rel="icon" href="/wp-content/uploads/2017/10/favicon.png" sizes="32x32">
	<link rel="icon" href="/wp-content/uploads/2017/10/favicon.png" sizes="192x192">
	<link rel="apple-touch-icon-precomposed" href="/wp-content/uploads/2017/10/favicon.png">
	<meta name="msapplication-TileImage" content="/wp-content/uploads/2017/10/favicon.png">

</head>