{% include start.html %}
		<div id="main" class="site-main">

			<div id="main-content" class="main-content">


				<div id="page-title" class="page-title-block page-title-alignment-center page-title-style-1 " style="padding-top: 80px;padding-bottom: 80px;background-color: #b0a1ca !important">
					<div class="container">
						<div class="page-title-title" style="">
							<h1>Bärlis</h1>
						</div>
					</div>
				</div>
				<div class="block-content">
					<div class="container">
						<div class="panel row panel-sidebar-position-left with-sidebar">
							<div class="panel-center col-lg-9 col-md-9 col-sm-12 col-md-push-3 col-sm-push-0">




								<div class="products-list">
									<div class="products row inline-row columns-3">
	{{ content }}
									</div>
								</div><!-- .products-list -->
							</div>

							<div class="sidebar col-lg-3 col-md-3 col-sm-12 col-md-pull-9 col-sm-pull-0 left" role="complementary">
								<div class="page-sidebar widget-area" role="complementary">
									<section id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
										<h4 class="widget-title">Kategorien</h4>
										<ul class="product-categories">
											<li class="cat-item"><a href="/baerlis/kuschelig">Kuschelig</a></li>
											<li class="cat-item"><a href="/baerlis/maedchen">für Mädchen</a></li>
											<li class="cat-item"><a href="/baerlis/jungs">für Jungs</a></li>
											<li class="cat-item"><a href="/baerlis/erwachsene">für Erwachsene</a></li>
											<li class="cat-item"><a href="/baerlis/waermekissen">mit Wärmekissen</a></li>
											<li class="cat-item"><a href="/baerlis/lederimitat-und-tierfellmusterung">Lederimitat und Tierfellmusterung</a></li>
											<li class="cat-item"><a href="/baerlis/aussergewoehnlich">Außergewöhnlich</a></li>
											<li class="cat-item"><a href="/baerlis/auftrag">Auftragsbärlis</a></li>
											<li class="cat-item"><a href="/baerlis/liebesgeschichten">Liebesgeschichten</a></li>
											<li class="cat-item"><a href="/baerlis/reduziert">% Reduziert</a></li>
										</ul>
									</section>
								</div><!-- .shop-sidebar -->
							</div><!-- .sidebar -->
						</div>
					</div>
				</div>
			</div><!-- #main-content -->


		</div><!-- #main -->
	


{% include end.html %}
